.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 582px;
    height: 52px;
    padding: 0 20px;

    border-radius: 10px;

    background-color: #FF6060;
    color: #FFFFFF;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.bar i {
    font-size: 30px;
}

.barOptions {
    background-color: #F6F6F6;
    color: #FF6060;

    width: 582px;
    height: auto;

    border-radius: 10px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    margin-top: -15px;
    padding-top: 20px;

    position: relative;
    z-index: -1;
}

.barOptions ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.barOptions p {
    margin: 20px;
    padding: 0;
}