.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px 43px 100px;
}

.aboutImg {
    width: 100%;
    height: 223px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    border-radius: 25px;
}

.aboutBackground {
    width: 100%;
    height: 223px;

    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    
    border-radius: 25px;
}

.aboutDropdown {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.aboutDropdown p {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .aboutContainer {
        display: flex;
        justify-content: center;
        margin: 20px 20px 0 20px;
    }   

    .aboutImg {
        height: 223px;
        border-radius: 10px;
    }

    .aboutBackground {
        height: 223px;
        border-radius: 10px;
    }

    .aboutDropdown p {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .aboutContainer {
        margin: 20px 20px 0 20px !important;
    }

    .aboutImg {
        border-radius: 10px;
    }

    .aboutBackground {
        border-radius: 10px;
    }
}