.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselImg {
    width: 1240px;
    height: 415px;
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-size: cover;
    background-position: center;
}

.carouselImg i {
    color: #FFFFFF;
    font-size: 100px;
    margin: 0 20px;
}

@media only screen and (max-width: 768px) {
    .carouselImg {
        width: 335px;
        height: 255px;
    }

    .carouselImg i {
        font-size: 30px;
        margin: 0 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carouselImg {
        width: 655px;
        height: 355px;
    }

    .carouselImg i {
        font-size: 50px;
        margin: 0 10px;
    }
}