.sloganContainer {
    display: flex;
    justify-content: center;
    margin: 0 100px 43px 100px;
}

.sloganImg {
    width: 1240px;
    height: 223px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    border-radius: 25px;
}

.sloganBackground {
    width: 1240px;
    height: 223px;

    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
}

.sloganImg h1 {
    position: absolute;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .sloganContainer {
        margin: 0;
    }
    
    .sloganImg{
        width: 335px;
        height: 111px;

        justify-content: flex-start;

        border-radius: 10px;
    }

    .sloganBackground{
        width: 335px;
        height: 111px;
        border-radius: 10px;
    }

    .sloganImg h1 {
        font-size: 24px;
        line-height: 24px;
        text-align: start;
        word-wrap: break-word;
        display: inline-block;
        width: 56%;
        margin-left: 16px;
    }
}